<div class="parallax" data-stellar-ratio="0.4">
  <!-- https://github.com/markdalgleish/stellar.js -->
  <%= image_tag "fond.jpg" %>
</div>

<nav class="menu">
  <a href="#home" data-index="0" data-over="c" data-out="c">Kevin</a>
  <a href="#works" data-index="1" data-over="works" data-out="projets">Story</a>
  <a href="#contact" data-index="20" data-over="contact" data-out="contact">Contact</a>
</nav>

<h3 id="kevin">KEVIN</h3>

<%= render 'who_am_i' %>
